[submodule "test/bats"]
	path = test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "test/test_helper/bats-support"]
	path = test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/test_helper/bats-assert"]
	path = test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "tomcat-setup/test/bats"]
	path = tomcat-setup/test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "tomcat-setup/test/test_helper/bats-support"]
	path = tomcat-setup/test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "tomcat-setup/test/test_helper/bats-assert"]
	path = tomcat-setup/test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "bash-calculator/test/bats"]
	path = bash-calculator/test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "bash-calculator/test/test_helper/bats-support"]
	path = bash-calculator/test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "bash-calculator/test/test_helper/bats-assert"]
	path = bash-calculator/test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "create-new-bash-scripts/test/bats"]
	path = create-new-bash-scripts/test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "create-new-bash-scripts/test/test_helper/bats-support"]
	path = create-new-bash-scripts/test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "create-new-bash-scripts/test/test_helper/bats-assert"]
	path = create-new-bash-scripts/test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "install-sql-client/test/bats"]
	path = install-sql-client/test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "install-sql-client/test/test_helper/bats-support"]
	path = install-sql-client/test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "install-sql-client/test/test_helper/bats-assert"]
	path = install-sql-client/test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "kwanzaa/test/bats"]
	path = kwanzaa/test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "kwanzaa/test/test_helper/bats-support"]
	path = kwanzaa/test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "kwanzaa/test/test_helper/bats-assert"]
	path = kwanzaa/test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
